* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  padding-top: 15px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header-logo {
  font-size: 24px;
  color: white;
  flex: 1;
}

.header-link {
  font-size: 16px;
  color: white;
}

.hero {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.hero-left {
  flex-grow: 1;
}

.hero-title {
  font-size: 48px;
  color: white;
  margin-top: 20px;
  width: 350px;
  margin-bottom: 5px;
}

.hero-subtext {
  font-size: 18px;
  color: white;
  width: 450px;
  margin-bottom: 5px;
}

.hero-img {
  height: 280px;
  background-color: grey;
  flex-basis: 500px;
  margin-bottom: 100px;
}

.button {
  background-color: #3799d2; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-info {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 36px;
  margin: 46px;
  text-align: center;
}

.info-content {
  display: flex;
  gap: 75px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.info-text {
  margin-top: 10px;
  color: #1f2937;
}

.box {
  width: 180px;
  height: 180px;
  border: 4px solid #3799d2;
  border-radius: 18px;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 155px;
  text-align: center;
  align-items: center;
}

.container-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  background-color: #e5e7eb;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  text-align: left;
}

.quote-content {
  width: 925px;
}

.container-cta {
  width: 100%;
  height: 300px;
  background-color: white;
}

footer {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  color: #e5e7eb;
}

.container-cta {
  display: flex;
  justify-content: center;
}

.cta-box {
  background-color: #00649e; /* Green */
  border: none;
  color: white;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 85px;
  margin-bottom: 85px;
  margin-left: 25px;
  margin-right: 25px;
}

.cta-title {
  font-size: 18px;
}

.cta-button {
  border: 1px solid white;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 15px;
}

.cta-text {
  margin-left: 15px;
}
